<!DOCTYPE html>
<html lang="en">

<head>
    <title>Paw Palace-Shopping</title>
    <meta charset="utf-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'zayshop/img/apple-icon.png' %}">

    <link rel="stylesheet" href="{% static 'zayshop/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'zayshop/css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'zayshop/css/custom.css' %}">

<!--    dropdown-->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>


    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'zayshop/css/fontawesome.min.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
$(document).ready(function(){
  $(".med").click(function(){
    $("#products").hide();
    $("#food").hide();
    $("#accessories").hide();
    $("#medicine").show();
  });
  $(".food").click(function(){
    $("#products").hide();
    $("#food").show();
    $("#accessories").hide();
    $("#medicine").hide();
  });
  $(".accessories").click(function(){
    $("#accessories").show();
    $("#food").hide();
    $("#medicine").hide();
    $("#products").hide();
  });
  $(".all").click(function(){
    $("#accessories").hide();
    $("#food").hide();
    $("#medicine").hide();
    $("#products").show();
  });
});
</script>

    <!--    message-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:pawpalace@gmail.com">pawpalace@gmail.com</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:+91 7736881574">+91 7736881574</a>
                </div>
                <div>
                    <a class="text-light" href="#" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="#" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="#" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="#" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->


    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="user">
                PawPalace
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
    <li class="nav-item">
        <a class="nav-link" href="user">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="userabout">About</a>
    </li>
    <li class="nav-item dropdown active">
        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Shop <span class="fa"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item active" href="#">Products</a>
            <a class="dropdown-item" href="services">Services</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="gallery">Gallery</a>
    </li>
</ul>
                </div>
                <div class="navbar align-self-center d-flex">

                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="cart">
                        <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">{{data2}}</span>
                    </a>
                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->

    <!-- Modal -->




    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none all" href="#">
                            All
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            <li><a class="text-decoration-none med" href="#">Medicines</a></li>
                            <li><a class="text-decoration-none food" href="#">Foods</a></li>
                            <li><a class="text-decoration-none accessories" href="#">Accesories</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3 all" href="#">All</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3 all" href="#">Products</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none" href="services">Services</a>
                            </li>
                        </ul>
                    </div>

                </div>

                {% if messages %}
<div class="alert alert-info alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {% for message in messages %}
    <p {% if message.tags %} class="{{ message.tags }}" {% endif %}><b>{{ message }}</b></p>
    {% endfor %}
</div>
{% endif %}

                <div class="row" id="products">
    <h3>Products</h3>
    {% for i in data %}
    <div class="col-md-4">
        <div class="card mb-4 product-wap rounded-0">
            <div class="card rounded-0">
                <img class="card-img rounded-0 img-fluid" src="{{i.image.url}}" style="width: 300px; height: 200px; object-fit: cover;">
                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                    <ul class="list-unstyled">
                        {% if i.id in cart_product_ids %}
                            <li><a class="btn btn-success text-white mt-2" href="cart"><i class="fas fa-shopping-cart"></i> Go to Cart</a></li>
                        {% else %}
                            <li><a class="btn btn-success text-white mt-2" href="addtocart/{{i.pk}}"><i class="fas fa-cart-plus"></i> Add to Cart</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <a href="shop-single.html" class="h3 text-decoration-none">{{i.prodname}}</a>
                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                    <li>{{i.shop.username}}</li>
                    <li class="pt-2">
                        <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                        <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                        <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                        <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                        <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                    </li>
                </ul>
                <p class="text-center mb-0">₹{{i.price}}.00</p>
                <form class="btn btn sucess" action="singlesuccess/{{i.pk}}"  method="POST">
    {% csrf_token %}
<script
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="rzp_test_SROSnyInFv81S4"
    data-amount={{i.price}}00
    data-currency="INR"
    data-order_id="{{payment.id}}"
    data-buttontext="Buy Now"
    data-name="PawPalace payment"
    data-description="this is test payment"
    data-image="https://example.com/your_logo.jpg"
    data-prefill.name="Gaurav Kumar"
    data-prefill.email="django@test.com"
    data-theme.color="#F37254"
></script>
<input type="hidden" custom="Hidden Element" name="hidden">
</form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

                <div class="row" id="medicine" style="display:none">
    <h3>Medicine</h3>
    {% for i in data1 %}
    <div class="col-md-4">
        <div class="card mb-4 product-wap rounded-0">
            <div class="card rounded-0">
                <img class="card-img rounded-0 img-fluid" src="{{i.image.url}}" style="width: 300px; height: 200px; object-fit: cover;">
                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                    <ul class="list-unstyled">
                        {% if i.id in cart_product_ids %}
                            <li><a class="btn btn-success text-white mt-2" href="cart"><i class="fas fa-shopping-cart"></i> Go to Cart</a></li>
                        {% else %}
                            <li><a class="btn btn-success text-white mt-2" href="addtocart/{{i.pk}}"><i class="fas fa-cart-plus"></i> Add to Cart</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <a href="shop-single.html" class="h3 text-decoration-none">{{i.prodname}}</a>
                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                    <li>{{i.shop.username}}</li>
                    <li class="pt-2">
                        <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                        <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                        <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                        <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                        <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                    </li>
                </ul>
                <p class="text-center mb-0">₹{{i.price}}.00</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

                <div class="row" id="food" style="display:none">
    <h3>Food</h3>
    {% for i in data3 %}
    <div class="col-md-4">
        <div class="card mb-4 product-wap rounded-0">
            <div class="card rounded-0">
                <img class="card-img rounded-0 img-fluid" src="{{i.image.url}}" style="width: 300px; height: 200px; object-fit: cover;">
                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                    <ul class="list-unstyled">
                        {% if i.id in cart_product_ids %}
                            <li><a class="btn btn-success text-white mt-2" href="cart"><i class="fas fa-shopping-cart"></i> Go to Cart</a></li>
                        {% else %}
                            <li><a class="btn btn-success text-white mt-2" href="addtocart/{{i.pk}}"><i class="fas fa-cart-plus"></i> Add to Cart</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <a href="shop-single.html" class="h3 text-decoration-none">{{i.prodname}}</a>
                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                    <li>{{i.shop.username}}</li>
                    <li class="pt-2">
                        <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                        <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                        <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                        <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                        <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                    </li>
                </ul>
                <p class="text-center mb-0">₹{{i.price}}.00</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

                <div class="row" id="accessories" style="display:none" >
    <h3>Accessories</h3>
    {% for i in data4 %}
    <div class="col-md-4">
        <div class="card mb-4 product-wap rounded-0">
            <div class="card rounded-0">
                <img class="card-img rounded-0 img-fluid" src="{{i.image.url}}" style="width: 300px; height: 200px; object-fit: cover;">
                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                    <ul class="list-unstyled">
                        {% if i.id in cart_product_ids %}
                            <li><a class="btn btn-success text-white mt-2" href="cart"><i class="fas fa-shopping-cart"></i> Go to Cart</a></li>
                        {% else %}
                            <li><a class="btn btn-success text-white mt-2" href="addtocart/{{i.pk}}"><i class="fas fa-cart-plus"></i> Add to Cart</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <a href="shop-single.html" class="h3 text-decoration-none">{{i.prodname}}</a>
                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                    <li>{{i.shop.username}}</li>
                    <li class="pt-2">
                        <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                        <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                        <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                        <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                        <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                    </li>
                </ul>
                <p class="text-center mb-0">₹{{i.price}}.00</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    </div>
    </div>
    <!-- End Content -->

    <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Our Brands</h1>
                    <p>
                        Explore a world of premium pet products and accessories curated with love and care.
                        From nutritious treats to cozy beds, our collection is designed to enhance
                        the well-being of your furry friends. Discover top-quality brands that prioritize
                        the health, happiness, and comfort of your pets.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'zayshop/img/Pedigreelogo.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'zayshop/img/Royalcanin.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'zayshop/img/justdogs.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'zayshop/img/kong.png' %}" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End First slide-->

                                    <!--Second slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'zayshop/img/Pedigreelogo.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'zayshop/img/Royalcanin.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'zayshop/img/justdogs.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'zayshop/img/kong.png' %}" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Second slide-->

                                    <!--Third slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'zayshop/img/Pedigreelogo.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'zayshop/img/Royalcanin.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'zayshop/img/justdogs.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'zayshop/img/kong.png' %}" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Third slide-->

                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->


    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Paw Palace</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            When I look into a bird's eyes
                        </li>
                        <li>
                            ■ I don't see a price tag.
                        </li>
                        <li>
                            ■ I don't see a status symbol
                        </li>
                        <li>
                            ■ I don't see a pet.
                        </li>
                        <li>
                            ♡ I see a being.
                        </li>
                        <li>
                            ♡ I see a friend.
                        </li>
                        <li>
                            ♡ I see a soul.
                        </li>
                    </ul>
                </div>


                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="user">Home</a></li>
                        <li><a class="text-decoration-none" href="about">About</a></li>
                        <li><a class="text-decoration-none" href="#">Products</a></li>
                        <li><a class="text-decoration-none" href="services">Services</a></li>
                        <li><a class="text-decoration-none" href="Gallery">Gallery</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Have a Questions?</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            203 Fake St. Mountain View, San Francisco, California, USA
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:+917736881574">+91 77366881574</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:pawpalace@gmail.com">pawpalace@gmail.com</a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="#"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="#"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="#"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="#"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="{% static 'zayshop/js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'zayshop/js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'zayshop/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'zayshop/js/custom.js' %}"></script>
    <!-- End Script -->

</div>
</body>
</html>